body{
    background-image: url(../images/imgSaberYganar.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  
}
.active {
  color: red;
}

li:hover {
  cursor: pointer;
  color: green;
}

li:focus {
  color: red;
}

.hidden {
  display: none;
}
